%header.rg-header
  %h1.rg-header__logo
    %a= link_to image_tag("logo.svg"), root_path
  %nav.process-bar
    %ol.clearfix
      %li.process-bar__point
        会員情報
        .process-status__first
      %li.process-bar__point
        電話番号認証
        .process-status
      %li.process-bar__point
        お届け先住所入力
        .process-status
      %li.process-bar__point
        支払い方法
        .process-status
      %li.process-bar__point
        完了
        .process-status__end
