
.rg-header-sign {
  text-align: center;
  height: 130px;

  .logo-header {
    margin: 40px 0 0;
    width: 185px;
    height: 49px;
  }
}

.login {
  display: block;
  color: #333;
  font-size: 14px;

  .login-main {
    @include form-page(450px);

    &__account {
      padding: 30px 64px;

      &__btn {
        margin: 8px 0 0;
        padding-bottom: 6px;
        @include form-btn (#0099e8, #0099e8, white, 40px);
      }
      .new-btn {
        text-decoration: none;
        color: #FFF;
      }
    }

    &__form {
      padding: 32px 64px;
      border-top: 1px solid #f5f5f5;
      background-color: white;

      &__facebook{
      margin: 8px 0 0;
      @include form-btn;

      .f-icon {
        padding: 8px 0 8px 8px;
        @include icon (30px);
      }
    }

      &__google {
        margin-top: 15px;
        @include form-btn(#979797, #FFF, #333);
        
        .g-icon {
          padding: 13px 0 13px 13px;
          @include icon;
        }
      }
    }

    &__input-form {
      background-color: white;
      padding-bottom: 50px;

      &__mail {
        width: 100%;
        height: 45px;

        .mail-text {
          @include text-form;

          .email-field:focus {
          outline: 0;
          border-color: rgb(0, 140, 255);
        }
        }
      }
      &__pass {
        width: 100%;
        height: 45px;
        margin-top: 30px;

        .pass-text {
          @include text-form;
        }
      }
      &__btn {
        margin: 25px 20px 0 50px;
        width: 76%;

        .login-btn {
          @include form-btn(#ea352d,#ea352d)
        }
      }
    }
  }
    .sign-up {
      display: none;
    }

    .forget-pass {
      display: block;
      margin: 40px 0 20px 22px;
      float: left;
      color: #0099e8;
      text-decoration: none;
    }
}

.sign-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 0;

  &__nav {

    &__about{
      list-style: none;
      display: inline-flex;

      .text {
        padding-left: 15px;
        font-size: 12px;
        color: #333;
      }
    }
  }
  .logo-footer {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  .mercari {
    margin: 8px 0 0;
  }
}