.side-bar
  %nav.mypage-nav
    %ul.mypage-nav-list
      %li.mypage-nav-list__li
        %a.mypage-nav-list-item{:href => "/mypages"}
          マイページ
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li
        %a.mypage-nav-list-item{:href => "/mypages"}
          お知らせ
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li
        %a.mypage-nav-list-item{:href => "/mypages"}
          やることリスト
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          いいね！一覧
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          出品する
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          出品した商品-出品中
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          出品した商品-取引中
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          出品した商品-売却済み
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          購入した商品-取引中
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          購入した商品-過去の取引
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          ニュース一覧
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          評価一覧
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          ガイド
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          お問い合わせ
          =fa_icon "chevron-right",class: "list"

      %h3.mypage-nav-head メルペイ
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          売り上げ・振込申請
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          ポイント
          =fa_icon "chevron-right",class: "list"

      %h3.mypage-nav-head 設定
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          プロフィール
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          支払い方法
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          メール/パスワード
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          本人情報
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          電話番号の確認
          =fa_icon "chevron-right",class: "list"
      %li.mypage-nav-list__li 
        %a.mypage-nav-list-item{:href => "/mypages"}
          ログアウト
          =fa_icon "chevron-right",class: "list"