.sign-footer
  %nav.sign-footer__nav
    %ul.sign-footer__nav__about
      %li.text プライバシーポリシー
      %li.text メルカリ利用規約
      %li.text 特定商取引に関する表記
  %a= image_tag("logo-gray.svg", class: "logo-footer")
  %p.mercari
    © 2019 Mercari