.wrapper
  .header
    .header__line
      .header__line__top
        = image_tag('logo.svg')
      .form_mask
        = form_tag do
          %input{type:"search",name:"keyword",value:"",placeholder:"何かお探しですか？",class: "input"}
            =fa_icon "search",class:"icon"
    .header__bottom
      .header__bottom__btn
        %a.header__bottom__btn__user 新規会員登録
        %a.header__bottom__btn__sign ログイン

      .header__bottom__left
        %a
          =fa_icon "list-ul",class: "list"
        %span カテゴリーから探す

        %a
          =fa_icon "tag", class: "tag"
        %span ブランドから探す


  .top-img
    = image_tag("mainimg.png",size: 'auto')
  .main
    %h2.title ピックアップカテゴリー
    %h3.mid-title 商品一覧

    .main__item
      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10
          
      .box-all
        すべての商品を見る


    .main__item
      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10

      .main__item__box
        .main__item__box__img
          gazou
        .main__item__box__name
          %h3.main__item__box__name__product
            aaaaaaaaaaaaaaaaaaaaaaa
          .main__item__box__name__bottom
            .main__item__box__name__bottom__price
              ¥1111
            .main__item__box__name__bottom__like
              =fa_icon "heart"
            .main__item__box__name__bottom__num
              10
          
      .box-all
        すべての商品を見る



  .footer-top
    =image_tag('footer.png')

  .footer
    .footer__box
      %ul.footer__box__left
        %h2 メルカリについて
        %li 会社概要（運営会社
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li メルカリロゴ利用ガイドライン
      .footer__bottom
        = image_tag("footer-logo.png")

    .footer__btn
      .footer__btn__text
        出品
        .camera-icon
          =fa_icon "camera"


