.body {
  margin: 0;
  padding: 0;
}

  .wrapper{
    margin: 0;
    padding: 0;

    .top-img {
      .image {
      width: 100%;
      overflow: hidden;
      position: relative;
      }
    }
    
    
    .popular-category {
      margin: 0 auto;
      padding: 56px 0 30px 0px;
      text-align: center;
      background-color: #ffffff;

      &__title {
        font-size: 28px;
        font-weight: bold;
        color:  #333;
        padding-bottom: 8px;
        margin-bottom: 16px;
      }
      &__lists{

        &__part{
          display: inline-block;
          background-color: #EFEFEF;
          font-size: 14px;
          border-radius: 15px;
          font-weight: bold;
          &__link{
            display: block;
            padding: 8px 16px;
            color: black;
            text-decoration: none;
          }
        }
      }
    }

    .popular-brand {
      margin: 0 auto;
      padding: 56px 0 30px 0px;
      text-align: center;
      background-color: #ffffff;

      &__title {
        font-size: 28px;
        font-weight: bold;
        color:  #333;
        padding-bottom: 8px;
        margin-bottom: 16px;
      }
      &__lists{

        &__part{
          display: inline-block;
          background-color: #EFEFEF;
          font-size: 14px;
          border-radius: 15px;
          font-weight: bold;
          &__link{
            display: block;
            padding: 8px 16px;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }

