.wrapper {
  .sign-facebook:visited {
    color:white; 
    text-decoration: none; 
  }
  .sign-google:visited {
    color: black; 
    text-decoration: none;
  }
}

.signup {
  display: block;
  color: #333;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.signup-main {
  @include form-page;

  &__account {
    font-size: 22px;
    padding: 32px;
    padding: 40px 64px;
    background-color: white;
    font-weight: bold;
  }
}

  .signup-btn {
    padding: 24px 0px 40px;
    border-top: 1px solid #f5f5f5;
    @include form-page;

    &__form {
      max-width: 343px;
      margin: 0 auto;

      &__email {
        margin: 8px 0 0;
        border-radius: 4px;
        @include form-btn (#ea352d, #ea352d);

        .email-form {
          color: #FFF;
          text-decoration-line: none;
        }

        .m-icon {
          padding: 10px 0 8px 8px;
          @include icon (25px);
        }
      }
      sign-in {
        background-color: transparent;
        color: white;
        text-decoration: blink;
    }

      &__facebook{
        border-radius: 4px;
        margin: 16px 0 0;
        @include form-btn ;

        .f-icon {
          padding: 8px 0 8px 8px;
          @include icon (30px);
        }
      }

      &__google {
        margin: 16px 0 0;
        border-radius: 4px;
        @include form-btn (#979797, white, #333);
      
        .g-icon {
          padding: 13px 0 13px 13px;
          @include icon (25px);
        }
      }
    }
  }
  .footer_color{
    background-color: #f5f5f5;
  }