.main
  .main__item
    .main__item__box
      .main__item__box__img
        =image_tag("product.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("cosme.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("product.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("cosme.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10
          
    .box-all
      すべての商品を見る


  .main__item
    .main__item__box
      .main__item__box__img
        =image_tag("product.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("cosme.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("product.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10

    .main__item__box
      .main__item__box__img
        =image_tag("cosme.jpg", class:"image")
      .main__item__box__name
        %h3.main__item__box__name__product
          aaaaaaaaaaaaaaaaaaaaaaa
        .main__item__box__name__bottom
          .main__item__box__name__bottom__price
            ¥1111
          .main__item__box__name__bottom__like
            =fa_icon "heart"
          .main__item__box__name__bottom__num
            10
          
    .box-all
      すべての商品を見る